.FomBuilderContainer {
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* position: fixed; */
}

.FormToolsInnerContainer {
  margin-bottom: 10px;
}

.FormCanvas {
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 80%;
  height: calc(100% - 40px);
  overflow: scroll;
}

.FormToolsContainer {
  padding: 20px;
  width: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .FomBuilderContainer {
    flex-direction: column;
  }

  .FormCanvas {
    width: 100%;
    height: calc(80% - 40px);
  }

  .FormToolsContainer {
    width: 100%;
  }
}
